<nav id="navbar">
    <h1> <i class="fa-solid fa-sun"></i>Weather App</h1>
    <ul>
        <li><i class="fa-solid fa-house"></i> Home</li>
        <li><i class="fa-solid fa-globe"></i> About Us </li>
        <li><i class="fa-solid fa-address-book"></i>Contact Us</li>
        <li><i class="fa-solid fa-user"></i>Profile</li>
    </ul>
</nav>